# .gitattributes
# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.cs text
*.csproj text
*.sln text
*.md text
*.xml text
*.json text
*.yml text
*.yaml text
*.config text
*.props text
*.targets text
